// // ------------------- //
// // Sencha Brand Colors //
// // ------------------- //

$green     : #95c93d;
$orange    : #f5861f;
$blue      : #00a1dd;
$light     : #a0b2ba;
$medium    : #7d9ca8; 
$dark      : #043f59;

$dark-mode: false;
$base-color: $blue;
$accent_light_color: $light;
$enable-font-awesome: dynamic(true);
$font-weight-normal: 400;

// @include extjs-button-small-ui(
//     $ui: 'green', 
//     $background-color: $green,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-toolbar-small-ui(
//     $ui: 'green', 
//     $background-color: $green,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-small-ui(
//     $ui: 'blue',
//     $background-color: $blue,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-toolbar-small-ui(
//     $ui: 'blue',
//     $color: white,
//     $background-color: $blue,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-small-ui(
//     $ui: 'orange', 
//     $background-color: $orange,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-toolbar-small-ui(
//     $ui: 'orange', 
//     $background-color: $orange,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-small-ui(
//     $ui: 'red', 
//     $background-color: red,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-button-toolbar-small-ui(
//     $ui: 'red', 
//     $background-color: red,
//     $color: white,
//     $glyph-color: white, 
//     $glyph-opacity: 1
// );

// @include extjs-tab-panel-ui(
//     $ui: 'default',
//     // $ui-tab-background-color: darken($base-color, 10%)
//     $ui-tab-background-color-over: #505050,
//     $ui-tab-background-color-active: #303030,
//     $ui-tab-background-gradient: 'none',
//     $ui-tab-background-gradient-over: 'none',
//     $ui-tab-background-gradient-active: 'none',
//     $ui-tab-color: #acacac,
//     $ui-tab-color-over: #c4c4c4,
//     $ui-tab-color-active: #fff,
//     $ui-tab-glyph-color: #acacac,
//     $ui-tab-glyph-color-over: #c4c4c4,
//     $ui-tab-glyph-color-active: #fff,
//     $ui-tab-glyph-opacity: 1,
//     $ui-tab-border-radius: 0,
//     $ui-tab-border-width: 0,
//     $ui-tab-inner-border-width: 0,
//     $ui-tab-padding: 24px,
//     $ui-tab-margin: 0,
//     $ui-tab-font-size: 15px,
//     $ui-tab-font-size-over: 15px,
//     $ui-tab-font-size-active: 15px,
//     $ui-tab-line-height: 19px,
//     $ui-tab-font-weight: bold,
//     $ui-tab-font-weight-over: bold,
//     $ui-tab-font-weight-active: bold,
//     $ui-tab-icon-width: 24px,
//     $ui-tab-icon-height: 24px,
//     $ui-tab-icon-spacing: 5px,
//     $ui-bar-background-color: darken($base-color, 10%),
//     $ui-bar-background-gradient: 'none',
//     $ui-bar-padding: 0,
//     $ui-strip-height: 0
// );
// /* Some minor adjustments to default panel styles */
// @include extjs-panel-ui(
//     $ui: 'default',
//     $ui-header-icon-spacing: 24px,
//     $ui-header-glyph-opacity: 1,
//     $ui-header-glyph-color: white
// );
// @include extjs-tab-panel-ui(
//     $ui: 'default',
//     $ui-tab-background-color-active: white,
//     $ui-tab-background-gradient: 'none',
//     $ui-tab-color: white,
//     $ui-tab-color-active: $blue,
//     $ui-tab-glyph-color: white,
//     $ui-tab-glyph-color-active: $blue,
//     $ui-tab-glyph-opacity: 1,
//     $ui-tab-border-radius: 0,
//     $ui-tab-margin: 0,
//     $ui-bar-background-color: $blue,
//     $ui-bar-background-gradient: 'none',
//     $ui-bar-padding: 0,
//     $ui-strip-height: 0
// );

// @include extjs-panel-ui(
//     $ui: 'app',
//     $ui-header-color: white,
//     $ui-header-border-color: #0d1218,
//     $ui-header-background-color: $dark,
//     $ui-header-background-gradient: dynamic('none'),
//     $ui-header-glyph-color: white,
//     $ui-header-glyph-opacity: 1,
//     $ui-header-font-size: 18px,
//     $ui-header-line-height: 20px,
//     $ui-header-font-weight: dynamic($font-weight-normal),
//     $ui-header-font-family: dynamic($font-family)
// );

// @include extjs-panel-ui(
//     $ui: 'console',
//     $ui-header-color: white,
//     $ui-header-border-color: #0d1218,
//     $ui-header-background-color: $dark,
//     $ui-header-background-gradient: dynamic('none'),
//     $ui-header-glyph-color: white,
//     $ui-header-glyph-opacity: 1,
//     $ui-header-font-size: 18px,
//     $ui-header-line-height: 20px,
//     $ui-header-font-weight: dynamic($font-weight-normal),
//     $ui-header-font-family: dynamic($font-family)
// );

// // $grid-row-cell-alt-background-color: dynamic($reverse-color);
// // $grid-row-cell-background-color: $dark;
// // $grid-row-cell-focus-border-color: dynamic($reverse-color);
// // $grid-row-cell-over-background-color: dynamic($hovered-background-color);
// // $grid-row-cell-selected-background-color: dynamic($selected-background-color);
// // $grid-empty-padding: dynamic(16px 8px);
// // $grid-cell-inner-padding: dynamic(12px);
// // $grid-row-cell-border-width: dynamic(0px);
// // $grid-row-cell-focus-border-width: dynamic(0px);
// // $grid-row-cell-line-height: dynamic(16px);
// // $grid-row-cell-focus-border-color: dynamic($base-color);

// // .x-panel.x-panel-app {
// //     .x-panel-header.x-panel-header-app {
// //         border-bottom: 1px solid #0d1218;
// //     }
// // }

// // .x-panel-header-title-app > .x-title-icon-wrap-app > .x-title-icon-app {
// //     width: 45px;
// //     height: 34px;
// //     background-size: cover;
// //     background-position: top;
// // }

// Source View

.instructions {
    color: white;
    background-color: #4a4a4a;
    padding: 20px;
}

// Demo.ux.Info
.x-panel-info,
.x-panel-info-framed,
.x-panel-info-framed-docked-top,
.x-panel-info-framed-docked-bottom {
    display: flexbox;
    flex-direction: row;

    .x-autocontainer-innerCt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        background-color: $orange;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        color: white;
        border: 2px solid white;
        font-weight: 600;
    }
    
    .info-text {
        flex:1;
        padding: 10px;
    }

    .info-icon {
        flex: 0 0 40px;
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        text-align: center;
    }
}

// // Add a little depth for framed panels
// // .x-panel-info-framed,
// // .x-panel-default-framed {
// //     border-color: #e1e1e1;
// //     box-shadow: 0px 2px 8px -5px #000000d6;
// // }


/* Markdown Renderer */

.rendered-markdown {
    padding: 10px;
    // background: white;
    // border: 1px solid #ccc;
    // box-shadow: inset 0 3px 12px -11px black;
    overflow: hidden;
    * {
        max-width: 100%;
    }
    img {
        margin: 10px 0 10px 0;
    }
}

// ViewSource

.docs-link {
    color: lightgray;
}
.docs-link,
.interactive-source .token.property {
    transition: ease-in-out .25s all;
}

.docs-link:hover,
.interactive-source .token.property:hover,
.interactive-source .token.property:active {
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 0, 255, 1);
    box-shadow: inset 0 0 0px 10px rgba(255, 0, 255, 1), 0 0 0px 3px rgba(255, 0, 255, 1);
}

.docs-link:active,
.interactive-source .token.property:active {
    box-shadow: inset 0 0 0px 10px rgba(255, 0, 255, 1), 0 0 0px 5px rgba(255, 0, 255, 1);
}

// .x-grid-navigation .x-grid-item {
//     &.x-grid-item-selected {
//         .x-grid-row {
//             color: white;
//             background-color: $blue;
//         }
//         .x-grid-cell {
//             color: white;
//             background-color: $blue;
//         }
//     }
// }

// .x-grid-navigation .x-grid-view {
    
//     .x-group-hd-container {
//         background: $accent-light-color;
//     }

//     .x-grid-group-hd {
//         background: $accent-light-color;
//     }
//     .x-grid-group-title,
//     .x-grid-group-title:before {
//         color: $blue;
//         font-weight: 600;
//         text-transform: uppercase;
//     }
// }


// .x-grid-navigation .x-grid-view .x-grid-item {
//     color: $blue;
//     font-weight: 600;
//     transition: all ease-out .25s;

//     .x-grid-row {

//     }

//     &:hover {
//         .x-grid-row {

//         }
//     }
    
//     &.x-grid-item-selected {
//     }
// }

// .x-grid-navigation.small {
//     .x-grid-cell-inner {
//         padding: 6px 8px;
//     }    
//     .x-grid-group-hd {
//         padding: 6px 8px;
//     }
// }